/* Importing font lato from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* Reseting default margin on browser */

/* Somo colors to use on my project */
/* Main color: #0c4a6e */
/* Font color: #262626 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(0.25turn, #22d3ee, #67e8f9, #a5f3fc);
  color: #262626;
}
.container {
  position: relative;
  width: 1200px;
  height: 50vh;
  margin: auto;
}
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animatedText {
  text-align: center;
  animation: animatedText 3s;
  text-transform: uppercase;
}
section {
}
@keyframes animatedText {
  0% {
    opacity: 0;
    transform: translate(-200px);
  }
  80% {
    transform: translate(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Selection Part */
.selectionPart {
  position: relative;
  height: 100%;
  height: 100vh;
}
.icon1 {
  border-radius: 5px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.4s;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  animation: animatedIcon 4s;
}
.icon1:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.icon2 {
  border-radius: 5px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.4s;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  animation: animatedIcon 4s;
}
.icon2:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}
@keyframes animatedIcon {
  0% {
    transform: translate(-60%, -60%);
    opacity: 0;
  }
  80% {
    transform: translate(-70%, -70%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
